
.jumbotron {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: white;
  border-radius: 6px;
  text-align: center;
}

.header {
  display: inline-block;
	font-family: Proxima Nova;
	font-size: 70px;
  /*background: -webkit-linear-gradient(#1EA63B,#22BD23);*/
  background-color: #BD0B07;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-header {
  color: #BDBDBD;
  font-size: 15px;
  margin-top: -25px;
  font-family: arial;
}

.header-container {
  position: relative;
  min-height: 80px;
  margin-bottom: 30px;

    li {
      position: relative;
      display: block;
    }
}

.malarkey-text {
	color: lightgrey;
}

.searchbar-container {	
	text-align: center;
}

.home-searchbar {
	width: 55%;
	height: 40px;
	padding: 0 10px 0 10px;
  margin-left: 25px;
}

.home-searchbar:focus {
	outline: 1px solid lightgrey;
}

.global-searchbar-container {
  display: block;
  top: 20px;
  left: 5px;
  position: absolute;
  width: 60%;
}

.global-searchbar-container input:focus {
  outline: 1px solid lightgrey;
}

#disclaim-btn-container {
  width: 100%;
  text-align: center;
}

.btn {
	width: 8%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: grey;
  border: 1px solid #BDBDBD;
  padding: 10px 10px;
  font-size: 15px;
  line-height: 1.33;
  font-family: Proxima Nova;
}

.btn:hover {
  background: #BDBDBD;
  color: white;
}

.col {
  float: left;
  width: 33.33%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  .thumbnail {
    height: 200px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 20px;

    .caption {
      padding: 9px;
    }

    img.pull-right {
      width: 50px;
    }
  }
}

.search-results-container {
  width: 100%;
}