.jumbotron {
  padding: 60px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 6px;
  text-align: center;
}

.header {
	font-family: Proxima Nova;
	font-size: 60px;
	font-weight: 900;
	margin: 0;
  /*background: -webkit-linear-gradient(#FE0FFF,#AF19E8);*/
  background: -webkit-linear-gradient(#14E8E3,#16FFA7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-header {
	font-family: Arial;
	color: lightgrey;

}

.searchbar-container {	
	text-align: center;
}

.searchbar {
	width: 55%;
	height: 40px;
	padding: 0 10px 0 10px;
}

.searchbar:focus {
	outline: 1px solid lightgrey;
}

.btn {
	width: 8%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  /*border: 1px solid #E80CA9;*/
  color: white;
  background-color: lightgrey;
  padding: 5px 10px;
  font-size: 15px;
  line-height: 1.33;
}

.col {
  float: left;
  width: 33.33%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  .thumbnail {
    height: 200px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 20px;

    .caption {
      padding: 9px;
    }

    img.pull-right {
      width: 50px;
    }
  }
}