<section class="about-content">
<div>
	<acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>
	<div class="about-copy-container">
		<h1 class="about-header">Eating healthy is simple...dont eat Junk</h1>
		<p class="about-copy">
			The CommonSenseDiet website is the simplest way to know if a certain food or 
			dish is healthy for you, or not healthy for you, with a simple yes or no response...thats it. Nothing more. 
			Simply look up your foods/meals and get a YES or NO response. What do we know about nutrition?...
			Nothing! We just go off of ingredients and nutrition facts and give you our best, common sense, opinion.
			</br>
			</br>
			If for some reason we can't provide any results for the food/meal you've searched for simply check 
			back in with us later on. We are constantly adding new foods, dishes, beverages and anything edible to 
			our database. Eating right is simple...Don't eat junk.
		</p>
  	</div>
  	<div class="show-disclaimer-btn-container">
  		<!-- <p class="arrow-label">Disclaimer Though!</p> -->
  		<div class="pos down-arrow" ng-click""></div>
  		<p class="arrow-label">DISCLAIMER THOUGH</p>
  	</div>

<!-- 
		<h2 class="about-sub-header">Disclaimer Though</h2>
			<p class="about-copy">
			The CommonSenseDiet website is the simplest way to know if a certain food or 
			dish is healthy for you (or not healthy for you) with a simple yes or no...thats it. Nothing more. 
			Simply look up your foods/meals and get a YES or NO response. What do we know about nutrition?...
			Nothing! We just go off of ingredients and nutrition facts and give you our best, common sense, opinion.
			Eating right is simple...Don't eat junk.
			</p>
 -->

</section>
