<section class="about-content">
	<div class="about-copy-container">
		<h1 class="about-header">Eating Healthy is Simple...Right?</h1>
		<p class="about-copy">
			We've all heard of the Atkins diet and the Paleo diet and the raw foods diet and the blood type diet and
			the cigarette diet and the baby food diet and the WWII rations diet but come on! Hasn't it all gotten just a bit too riduculous? <span class="highlight">Since when did eating healthy become so complicated?</span> What in the world happened to common sense?
		</p>
		<p class="about-copy">
			We believe you don't need a crazy diet fad
			to eat well. This website is meant to help you figure which
			foods, beverages or meals are healthy for you with a simple yes or no answer. <span class="highlight">Simply search any food, beverage or meal and get a big fat</span> <span>YES</span> or <span>NO</span> response...That's it!
			<br/>
		</p>
		<p class="about-copy">
			What do we actually know about nutrition?... Uh nothing. We simply BELIEVE that eating healthy isn't complicated. Is a cheeseburger good for you? <span>NO!</span> Is an apple good for you? <span>YES!</span><br/>
		</p>
		<p class="about-copy">
			See how easy that was! Some might call it common sense...but then again
			common sense isn't so common is it? Why follow some crazy, out-of-the-box
			diet fad that you can't stick to anyways? Before you eat something, <span class="highlight">just Foodle it.</span>
		</p>
  	</div>
</section>

<include-footer></include-footer>
