<section class="about-content">
	<div class="about-copy-container">
		<h1 class="about-header">Eating healthy is simple...dont eat junk</h1>
		<p class="about-copy">
			We've all heard of the Atkins diet and the Paleo diet and the raw foods diet and the blood type diet and
			the don't eat diet but isn't eating well simply common sense? The CommonSenseDiet website is the 
			easiest way to know if a certain food or dish is healthy for you, or not healthy for you, with
			a simple yes or no response...thats it. Nothing more. Simply search any foods/meals and get 
			a YES or NO response. That's it.
			</br>
			</br>
			What do we know about nutrition?...Nothing! We simply BELIEVE that eating right isn't that complicated 
			or difficult. Is processed sugar good for you? NO...is it good for you in when it's from fruits? YES. 
			</br>
			</br>
			See how easy that was! Some might call this common sense...but then again
			common sense isn't so common is it?. Why follow some crazy, out-of-the-box
			diet fad that you can't stick to anyways? Before you eat just ask, 
			Is this good for me? 
		</p>
  	</div>
  	<div id="show-disclaimer-btn-container" scroll-to-item scroll-to="#scrolled-to" ng-click="handleClickEvent()">
  		<div class="pos down-arrow"></div>
  		<p class="arrow-label">DISCLAIMER THOUGH!</p>
  	</div>
  	<div id="scrolled-to" class="about-copy-container not-visible">
		<h2 class="about-sub-header">Don't Sue Us!</h2>
			<p class="about-copy">
				We admit we know nothing about healthy dietary practices and intake. We also do not recommend you 
				you use our service as a means to follow a strict diet without first consulting with your doctor.
				Any advice you find on our site does not consider prior existing medical conditions such as diabetes, 
				heart-disease etc. Our results and advice is biased and in no way reflects any empirical or 
				medical research/expertise. You use this site at your own risk and agree to not holding us liable for 
				any consquences from decisions made on your behalf regarding our service.
			</p>
	</div>


</section>
