<section class="disclaimer-content">
	<div class="disclaimer-copy-container">
		<h1 class="disclaimer-header">Disclaimer</h1>
		<p class="disclaimer-copy">
      We admit we know nothing about healthy dietary practices and overall food consumption. We also do not recommend you use our service as a means to follow a strict diet without first consulting with your doctor.
      Any advice you find on our site does not consider prior existing medical conditions such as diabetes, heart-disease or any and all medical conditions. Our search results and advice is completely biased and in no way reflects any empirical or medical research or dietary expertise. You use this site at your own risk and in using it, agree to not hold us liable for
      any consquences from decisions made on your behalf as a results of using this website and/or service.
    </p>
		<p class="disclaimer-copy">
			Blackhouse LLC, by providing this service and website, is not making any assurances, guaranties, or warranties as to the safeness or riskiness of any content on or produced by this website. While we have employed a patent-pending technology to provide this service, Users should not only rely on information gathered from this website and our search utility.
			This website is provided for informational purposes only and is not comparable to other information provided by medical, scientific, governmental, dietary and/or nutritional organizations or groups such as the FDA. Any information you attain from this website is not tailored to each individual User and therefore may fail to account for your individual preferences, risk-tolerances, or medical situation/s. This website does not provide medical or dietary advice and should not be used as such. Each User should do his or her due diligence prior to pursuing acts based on information obtained from this website and may also wish to consult a medical advisor.
		</p>
  	</div>
</section>
