<section class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <div id="wrapper" class="jumbotron">
    <div class="header-container">
      <ul class="header-list">
        <li><h1 class="header">Is It Good For Me?</h1></li>
        <li><p class="sub-header"> A biased, yes or no, dietary advice site to know if <acme-malarkey extra-values="['agave', 'pasta', 'turkey', 'milk', 'eggs']"></acme-malarkey> is 'good' for you.</p></li>
      <ul> 
    </div>
  </div>
  <div id="move-searchbar" class="searchbar-container">
    <input class="home-searchbar" type="text" placeholder="Search..." ng-keyup="handleTypeEvent()">
  </div>
  <div id="disclaim-btn-container">
    <p class="animated infinite" ng-class="main.classAnimation">
      <a class="btn btn-lg btn-success" href="#/about">Good For Me?</a>
    </p>
  </div>
<!--   <div class="col" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
    <div class="thumbnail">
      <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
      <div class="caption">
        <h3>{{ awesomeThing.title }}</h3>
        <p>{{ awesomeThing.description }}</p>
        <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
      </div>
    </div>
  </div> -->
</section>
