<section class="home-container">
  <div id="wrapper" class="jumbotron">
    <div class="header-container">
      <ul class="header-list">
        <li><h1 class="header">Is It Good For Me?</h1></li>
        <li><p class="sub-header"> A simple, yes or no response, dietary advice site to know if <acme-malarkey extra-values="['agave', 'pasta', 'turkey', 'milk', 'eggs']"></acme-malarkey> is 'good' for you.</p></li>
      <ul>
    </div>
  </div>
  <div ng-controller="SearchController" id="move-searchbar" class="searchbar-container">
    <input class="home-searchbar" type="text" ng-model="search" ng-model-options="{ debounce: 800}" placeholder="Search..." ng-keyup="main.handleKeyupEvent()">
  </div>
  <div id="disclaim-btn-container">
    <p class="animated infinite" ng-class="main.classAnimation">
      <a class="btn btn-lg btn-success" href="#/about">Uh?</a>
    </p>
  </div>

  <section class="search-results-container not-visible">
    <div>
      <ul class="search-results-list">
        <!-- <li ng-repeat="limitTo: 10"><img src="#"/> -->
        <li>
          <p class="result-name">Food Name</p>
          <p class="result-id">
            Food ID
          </p>
          <p class="result-answer">
            answer
          </p>
        </li>
        <li>
          <p class="result-name">Food Name</p>
          <p class="result-id">
            Food ID
          </p>
          <p class="result-answer">
            answer
          </p>
        </li>
      </ul>
    </div>
  </section>

  <!-- commented markup below is for later use -->

<!--   <div class="col" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
    <div class="thumbnail">
      <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
      <div class="caption">
        <h3>{{ awesomeThing.title }}</h3>
        <p>{{ awesomeThing.description }}</p>
        <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
      </div>
    </div>
  </div> -->

<!-- <section class="search-results-container">

</section> -->




</section>
