<section>
	<form class="submit-food-form">
		<input placeholder="yes no maybe", type="text", class="answer-input"></input>
		<input placeholder="Reason why", type="text", class="carbs-input"></input>
		<input placeholder="food name", type="text", class="name-input"></input>
		<input placeholder="food ID", type="text", class="id-input"></input>
		<input placeholder="food group", type="text", class="food-group-input"></input>
		<input placeholder="calories", type="number", class="name-input"></input>
		<input placeholder="serving size", type="number", class="serving-size-input"></input>
		<input placeholder="total fat", type="number", class="total-fat-input"></input>
		<input placeholder="Trans Fat", type="number", class="trans-fat-input"></input>
		<input placeholder="saturated fat", type="number", class="saturated-fat-input"></input>
		<input placeholder="cholesterol", type="number", class="cholesterol-input"></input>
		<input placeholder="protein", type="number", class="protein-input"></input>
		<input placeholder="sodium", type="text", class="sodium-input"></input>
		<input placeholder="carbohydrates", type="text", class="carbs-input"></input>
		<input placeholder="sugar", type="number", class="sugar-input"></input>
		<input placeholder="fiber", type="text", class="fiber-input"></input>
		<input type="checkbox" value="vegetarian">
		<input type="checkbox" value="gluten-free">
		<input type="checkbox" value="vegan">
		<input type="checkbox" value="nut-free">
	</form>

</section>