<!-- Loading Spinner -->
<div class="loader not-visible">Loading...</div>

<!-- Search Bar -->
<div id="move-searchbar" class="searchbar-container">
  <input class="home-searchbar" type="text" ng-model="vm.searchterm" ng-model-options="{debounce: 200}" placeholder="Raw Oranges..." ng-change="vm.handleQueryInput()">
  <img ng-click="vm.handleKeyupEvent()" class="search-icon not-visible" src="../../.././assets/images/search_icon_1.png"/>
</div>

<!-- Search Results -->
<section class="search-results-container not-visible">
  <ul ng-if="vm.items.length > 1" class="search-results-list">
    <li ng-repeat="searchResult in vm.items" ng-click="vm.goToSearchResult(searchResult.ndbno)">
      <p class="result-name">{{searchResult.name}}</p>
      <p class="result-id">
        <span>{{searchResult.group}}</span>
      </p>
    </li>
  </ul>
  <ul ng-if="vm.items[0].message" class="no-search-results">
    <li>
      <p class="result-name">{{ vm.items[0].message }}</p>
    </li>
  </ul>
</section>

<!-- Paginator for Search Results -->
<section class="paginator">
  <ul ng-if="vm.pager.pages.length">
      <li>
        <a ng-click="vm.setPage(1, vm.searchresultsarray.length)">First</a>
      </li>
      <li>
        <a ng-click="vm.setPage(vm.pager.currentPage - 1, vm.searchresultsarray.length)">Previous</a>
      </li>
      <li ng-repeat="page in vm.pager.pages" ng-class="{paginatorActive:vm.pager.currentPage === page}">
        <a ng-click="vm.setPage(page, vm.searchresultsarray.length)">{{page}}</a>
      </li>
      <li>
        <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
      </li>
      <li>
        <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
      </li>
  </ul>
  <p ng-if="vm.pager.pages.length">About <span>{{vm.totalResults}}</span> Total Search Results. <br />Page <span>{{vm.page}}</span> of <span>{{vm.pager.totalPages}}</span></p>
</section>
