<section class="about-content">
	<div class="about-copy-container">
		<h1 class="about-header">Eating Healthy is <span class="highlight">Simple</span>...Right?</h1>
		<p class="about-copy">
			We've all heard of the Atkins diet and the Paleo diet and the raw foods diet and the blood type diet and
			the cigarette diet and the baby food diet and the WWII rations diet but come on! Hasn't it all gotten just a bit too riduculous? What in the world happened to common sense? <span class="highlight">Since when did eating healthy become so complicated?</span>
		</p>
		<p class="about-copy">
			We created Foodle because we believe that you need a crazy diet fad
			to eat healthy. <span class="highlight">If you're ever feeling uncertain about whether or not it's ok to eat something, simply search any food, beverage or meal on Foodle and get a</span> <span>YES!</span> or <span>NO!</span> response. That's it!
			<br/>
		</p>
		<p class="about-copy">
			What do we actually know about nutrition?... Uh nothing. We simply believe that eating well and keeping your diet in check shouldn't be rocket science. Is a cheeseburger good for you? <span>NO!</span> Is an apple good for you? <span>YES!</span> - <i>Although we do have an awesome <a href="#/meet-ONNA">algorithm</a>. That might be important...</i>
		</p>
		<p class="about-copy">
			See how easy that was! Some might call it common sense...but then again
			common sense isn't so common is it? Why follow some crazy, out-of-the-box
			diet fad you can't stick to anyways? Before you eat something, <span class="highlight">just Foodle it.</span>
		</p>
		<p class="about-copy">
			<span class="highlight">Psst</span>, If you really want to know how this all works check out our kickass algorithm based on nutrional data from the <a href="https://ndb.nal.usda.gov/ndb/">USDA National Nutrient Database for Standard Reference</a>.<i class="em em-beers"></i>
		</p>
		<a href="#/how-it-works" class="btn primary-cta-btn">See How It All Works</a>
  </div>
</section>

<include-footer></include-footer>
