<section class="about-content">
	<div class="about-copy-container">
		<h1 class="about-header">Eating Healthy is <span class="highlight">Simple</span>...Right?</h1>
		<p class="about-copy">
			We've all heard of the Atkins diet and the Paleo diet and the raw foods diet and the blood type diet and
			the cigarette diet and the baby food diet and the WWII rations diet but come on! Hasn't it all gotten just a bit too riduculous? What in the world happened to common sense? <span class="highlight">Since when did eating healthy become so complicated?</span>
		</p>
		<p class="about-copy">
			We created Foodle because we believe that you don't need a crazy diet fad to eat healthy. We believe that eating well and keeping your diet in check shouldn't be rocket science. Here on Foodle, you can simply search a food, beverage or meal and get a</span> <span>YES!</span> or <span>NO!</span> response. That's it! Is a cheeseburger good for you? <span>NO!</span> Is an apple good for you? <span>YES!</span>
			<br/>
		</p>
		<p class="about-copy">
			See how easy that is? Some might call it common sense...but then again
			common sense isn't so common is it? Why follow some crazy, "out-of-the-box" diet fad you can't stick to anyways? Before you eat something, just <span class="highlight"> Foodle</span> it.
		</p>
		<br />
		<a href="#/how-it-works" class="btn primary-cta-btn">See How It All Works</a>
  </div>
</section>

<include-footer></include-footer>
