<section class="how-it-works-content">
	<div class="how-it-works-copy-container">
		<h1 class="how-it-works-header">This Is How the <span class="highlight">Magic</span> Happens.</h1>
    <div class="how-it-works-section">
      <h2 class="how-it-works-subheader">It's All About The Health Score:</h2>
      <p class="how-it-works-copy">
        Every searchable food and beverage in our database, (aka the <a href="https://ndb.nal.usda.gov/ndb/">USDA Food Composition Databases</a>), once searched, is assigned a <span class="highlight">"Health Score"</span>. The maximum Health Score for any food is 100 points and in fact every food starts off with 75 total Health Score points before encountering our algorithm, humbly named, the <span class="highlight">Optimal Nutrition Assurance Algorithm</span>, or ONAA for short. A Health Score of 100 points indicates the healthiest possible food you could eat while a Health Score of 1 point represents the worst possible food you could eat for your health. Such is the spectrum of the soon-to-be legendary <span class="highlight">Health Score</span>.
        <i class="em em-clap"></i>
  		</p>
    </div>
    <div class="how-it-works-section">
      <h2 class="how-it-works-subheader">ONAA, You So Sexy:</h2>
      <p class="how-it-works-copy">
        Much like your everyday onion, <a href="http://www.jonnybowden.com/onions-a-real-superfood/">(which is super healthy for you and widely regarded as a super food!)</a>, <span class="highlight">O.N.A.A.</span> has layers. She's complicated. But don't worry. We'll calmly walk you through every layer of ONAA. that a given food or beverage has to pass through in order to be evaluated as something you should eat or not. Each one of ONAA's layers affects the final, overall Health Score per food and there are 5 layers in all. Ultimately, it is ONAA's job to give each food/beverage a finalized <span class="highlight">Health Score</span> which is then used to determine if you should eat or drink that particular food or beverage.
  		</p>
    </div>

    <div class="how-it-works-section">
      <h2 class="how-it-works-subheader"><span class="highlight">Layer 1:</span> You Are What Your Food Is:</h2>
      <p class="how-it-works-copy">
        ONAA's outer layer, it's primary layer, is considered to be the most informative layer in terms of evaluating how healthy a given food is to consume. As such, this layer affects the overall Health Score the most and accounts for 30 of the maximum 100 Health Score points a food can receive. ONAA's primary purpose here is to identify any harmful nutrients, ingredients, minerals, vitamins, acids, additives, substances, proteins, GMO's etc. per food and adjust that food's Health Score accordingly. To do this it relies on our <span class="highlight">Optimal Nutrition Index</span>, or ONI for short, which you can read more about <a href="#">here</a>. So why does ONAA need to rely on ONI to adjust a food's Health Score?
  		</p>
      <p class="how-it-works-copy">
        Basically, For every item in ONI's "unhealthy index" list that is also found in a given food, a point is subtracted from that food's overall Health Score. Since ONI's unhealthy index list has only 30 items in it, a food could only lose a maximum of 30 points in this stage. If a food did in fact lose 30 points in this layer it would have a Health Score of 70....which, if you'll remember from those good ol' school days, is barely passing.
        <i class="em em-cry"></i>
      </p>
    </div>

    <div class="how-it-works-section">
      <h2 class="how-it-works-subheader"><span class="highlight">Layer 2:</span> Watch Those Calories Baby:</h2>
      <p class="how-it-works-copy">
        Next we have to consider the amount of calories (measured in kcals) for every 100 grams of the food you searched <span class="highlight">(100 grams is what ONAA deems as one serving of a given food)</span>. ONAA's role here is simple, it takes the daily recommended caloric intake for most people worldwide (2500 kcals) and divides that by our food's total calories per serving. The result of this equation will tell ONAA how many servings of that food you can eat until reaching your daily caloric intake. Since you should only eat roughly 2500 calories per day, what we are left with is a numeric spectrum that goes from 1 to 2500. A 1 on that spectrum means you can only eat one serving of that food before you reach your daily calorie intake limit while a 500 means you can eat 500 servings of that food before reaching your calorie intake limit. So how does this affect the overall Health Score for a given food?
  		</p>
      <p class="how-it-works-copy">
        Well wherever a food may land on that spectrum, we take that number, divide it by 100, and that becomes the total number of points we add to the overall Health Score. The maximum number of points a food can gain here is 25. If a food has 0 calories, we give it the 25 points right off the gate. The working logic for this layer is that the more of something you can eat without exceeding your recommended caloric intake, the healthier it is for you!
      </p>
    </div>

    <div class="how-it-works-section">
      <h2 class="how-it-works-subheader"><span class="highlight">Layer 3:</span> Remember Jump Rope for Heart?</h2>
      <p class="how-it-works-copy">
        According to the American Heart Association:
        <span class="highlight">"You should limit the amount of trans-fats to less than 1 percent of your total daily calories. That means if you need about 2,000 calories a day, less than 20 calories (or 2 grams) should come from trans fats"</span>. For our purposes ONAA will use 2500 calories a day which means the maximum recommended limit for trans-fats is 2.5 grams a day! And since ONAA considers a single serving for any given food to be 100 grams, she will take the amount of calories (kcals) for every 100 grams of that food, divide 2500 by that number, take the result and multiply the trans-fat amount found in one serving of that food. If the product of this multiplication exceeds the daily recommended limit (2.5 grams) then we will subtract 15 points from the total score. If it doesn't then nothing will happen to the total score.
  		</p>
    </div>

    <div class="how-it-works-section">
      <h2 class="how-it-works-subheader"><span class="highlight">Layer 5:</span> ONNA's Hierarchy of Food Needs</h2>
      <p class="how-it-works-copy">
        Remember those silly food group pyramid we used to study in elementary school? Well as it turns out, it's not as useless as we all thought! ONNA's fifth and final layer of is regarded as the least informative layer in terms of evaluating how healthy a given food is to consume. As such, this layer affects the overall Health Score the least and accounts for only 15 points of the maximum 100 Health Score points a food can receive. Currently the United States Department of Agriculture recognizes 25 distinct food groups. While most of these food groups don't really indicate how healthy any of the foods that fall under it are, there are a few groups that once can confidently identify as mostly unhealthy. Those groups are Fast Food and Sweets.
  		</p>
    </div>

  </div>
</section>

<include-footer></include-footer>
