<section class="how-it-works-content">
	<div class="how-it-works-copy-container">
		<h1 class="how-it-works-header">How It Works</h1>
    <div class="how-it-works-section">
      <h2 class="how-it-works-subheader">It's All About The Health Score:</h2>
      <p class="how-it-works-copy">
        Every food and beverage in our database, also known as the <a href="https://ndb.nal.usda.gov/ndb/">USDA Food Composition Databases</a>, once searched, is assigned a <span class="highlight">Health Score</span>. The maximum Health Score for any food is 100 points which represents the healthiest item you could eat. In fact, every food starts off with 100 total Health Score points before encountering our algorithm, humbly named, the <span class="highlight">Optimal Nutrition Assurance Algorithm</span>, or <span class="highlight">ONAA</span> for short.
  		</p>
			<br />
			<p class="how-it-works-copy">
				Ultimately, it is ONAA's job to account for total nutrients, minerals, vitamins, calories, trans-fats, and sugars for any given food or beverage, and adjust the Health Score accordingly. A Health Score of 100 points indicates the healthiest possible food you could eat while a Health Score of 1 point represents the worst possible food you could eat. Any Health Score below 69 points will result in a big fat <span class="highlight-red">NO</span> for that food/beverage when searched. Such is the importance of the <span class="highlight">Health Score</span>.
			</p>
			<br />
      <p class="how-it-works-copy">
        If you'd like to learn more about ONNA and how it determines what you should eat, and not eat, you can check out our explainer page <a href="#/meet-ONNA">here</a>.
      </p>
    </div>
  </div>
</section>

<include-footer></include-footer>
