<section class="how-it-works-content">
	<div class="how-it-works-copy-container">
		<h1 class="how-it-works-header">This Is How the <span class="highlight">Magic</span> Happens.</h1>
    <div class="how-it-works-section">
      <p class="how-it-works-copy">
        Much like your everyday onion, <a href="http://www.jonnybowden.com/onions-a-real-superfood/">which is super healthy for you and widely regarded as a super food!</a>, our <span class="highlight">Optimal Nutrition Assurance Algorithm (ONAA),</span> has layers. She's complicated. But don't worry. It helps to think of each "layer" as one of ONAA's primary functions. There are in fact 4 primary layers and 1 secondary layer. Each one of the primary layers will deal with either the nutrients, calories, sugars, or fat content per food and ultimately come up with a "Health Score" per food. We'll walk you through every one of ONAA's layers and discover the role each one plays in helping to evaluate a given food as something you should eat...or not eat, depending on the final "Health Score".
  		</p>
    </div>

    <div class="how-it-works-section">
      <h2 class="how-it-works-subheader"><span class="highlight">Layer 1:</span> You Are What Your Food Is:</h2>
      <p class="how-it-works-copy">
        ONAA's first layer, one of its 4 primary functions, is considered to be one of the most informative layers in terms of evaluating harmful nutrients for a given food. As such, this layer affects the overall Health Score greatly and accounts for 25% of the maximum 100 Health Score points a food can receive. To be more precise, ONAA's goal here is to identify several of the most harmful and unhealthy nutrients, ingredients, minerals, vitamins, acids, additives, substances, proteins, GMO's etc. per food and adjust that food's Health Score accordingly.
				To do this it relies on our <span class="highlight">Optimal Nutrition Index</span>, or <span class="highlight">ONI</span> for short, which you can read more about <a href="#">here</a>. So why does ONAA need to rely on ONI to adjust a food's Health Score?
  		</p>
			<br />
      <p class="how-it-works-copy">
        Basically you can think of ONI as a list of the most harmful substances a food could have. It is continously changing, improving and growing.
      </p>
    </div>

    <div class="how-it-works-section">
      <h2 class="how-it-works-subheader"><span class="highlight">Layer 2:</span> Watch Those Calories Baby:</h2>
      <p class="how-it-works-copy">
        Next we have to consider the amount of calories (measured in kcals) for every 100 grams of a given food. 100 grams is what ONAA deems as <span class="highlight">one serving</span>, which is equal to roughly half a pound, of any given food. If we take the daily recommended calorie intake for most people worldwide across all ages, <span class="highlight">2500 kcals</span><a href="https://www.cnpp.usda.gov/sites/default/files/usda_food_patterns/EstimatedCalorieNeedsPerDayTable.pdf">*</a>, and our food's total kcals per serving, ONAA can use these two data points to tell how many servings of that food you can eat before reaching the daily recommended calorie limit and conditionally remove points from the overall Health Score of that food. The whole idea here is that the more of something you can eat without exceeding your recommended calorie intake, the healthier it is for you! So how does ONAA actually calculate the number of points to assign?
  		</p>

			<table class="calories-spectrum-table" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th>
							Calories Per Serving (kcals/100g)
						</th>
						<th>
							Points Lost
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							0 - 100 kcals
						</td>
						<td>1</td>
					</tr>
					<tr>
						<td>
							101 - 200 kcals
						</td>
						<td>2</td>
					</tr>
					<tr>
						<td>
							201 - 300 kcals
						</td>
						<td>3</td>
					</tr>
					<tr>
						<td>
							301 - 400 kcals
						</td>
						<td>4</td>
					</tr>
					<tr>
						<td>
							401 - 500 kcals
						</td>
						<td>5</td>
					</tr>
					<tr>
						<td>
							501 - 600 kcals
						</td>
						<td>6</td>
					</tr>
					<tr>
						<td>
							601 - 700 kcals
						</td>
						<td>7</td>
					</tr>
					<tr>
						<td>
							701 - 800 kcals
						</td>
						<td>8</td>
					</tr>
					<tr>
						<td>
							801 - 900 kcals
						</td>
						<td>9</td>
					</tr>
					<tr>
						<td>
							901 - 1000 kcals
						</td>
						<td>10</td>
					</tr>
					<tr>
						<td>
							1101 - 1200 kcals
						</td>
						<td>11</td>
					</tr>
					<tr>
						<td>
							1201 - 1300 kcals
						</td>
						<td>12</td>
					</tr>
					<tr>
						<td>
							1301 - 1400 kcals
						</td>
						<td>13</td>
					</tr>
					<tr>
						<td>
							1401 - 1500 kcals
						</td>
						<td>14</td>
					</tr>
					<tr>
						<td>
							1501 - 1600 kcals
						</td>
						<td>15</td>
					</tr>
					<tr>
						<td>
							1601 - 1700 kcals
						</td>
						<td>16</td>
					</tr>
					<tr>
						<td>
							1701 - 1800 kcals
						</td>
						<td>17</td>
					</tr>
					<tr>
						<td>
							1801 - 1900 kcals
						</td>
						<td>18</td>
					</tr>
					<tr>
						<td>
							1901 - 2000 kcals
						</td>
						<td>19</td>
					</tr>
					<tr>
						<td>
							2001 - 2100 kcals
						</td>
						<td>20</td>
					</tr>
					<tr>
						<td>
							2101 - 2200 kcals
						</td>
						<td>21</td>
					</tr>
					<tr>
						<td>
							2201 - 2300 kcals
						</td>
						<td>22</td>
					</tr>
					<tr>
						<td>
							2301 - 2400 kcals
						</td>
						<td>23</td>
					</tr>
					<tr>
						<td>
							2401 - 2500 kcals
						</td>
						<td>24</td>
					</tr>
					<tr>
						<td>
							> 2500 kcals
						</td>
						<td>25</td>
					</tr>
				</tbody>
			</table>
    </div>

    <div class="how-it-works-section">
      <h2 class="how-it-works-subheader"><span class="highlight">Layer 3:</span> Remember Jump Rope for Heart?:</h2>
      <p class="how-it-works-copy">
        According to the American Heart Association:
        <span class="highlight">"You should limit the amount of trans-fats to less than 1 percent of your total daily calories. That means if you need about 2,000 calories a day, less than 20 calories (or 2 grams) should come from trans fats"</span>. For our purposes ONAA will use 2500 calories a day which means the maximum recommended limit for trans-fats is 2.5 grams a day.
  		</p>
			<br />
			<p class="how-it-works-copy">
				It's important to note that trans-fats are really, really, really bad for you. As the Mayo clinic puts it, <span class="highlight">"Trans fat is considered by many doctors to be the worst type of fat you can eat. Unlike other dietary fats, trans fat — also called trans-fatty acids — both raises your LDL ("bad") cholesterol and lowers your HDL ("good") cholesterol."</span>. Which basically means even the most minute amount of trans-fat should be avoided.
			</p>
    </div>

		<div class="how-it-works-section">
      <h2 class="how-it-works-subheader"><span class="highlight">Layer 4:</span> Yes, Sugar Love is in Your DNA:</h2>
      <p class="how-it-works-copy">
        In the 2015, the <span class="highlight">World Health Organization,</span> cut the recommended sugar intake for adults in half from the original 10 percent of total daily calories to five percent. For a normal weight adult, that's about 25 grams, or 6 teaspoons, per day. This is because when it comes to sugar, one could make the case that it's just as bad for you as trans-fats regardless of wether you're talking about Fructose or Sucrose<a href="http://well.blogs.nytimes.com/2016/06/08/is-sugar-really-bad-for-you-it-depends/">*</a>. Thus, as far as we're concerned, sugar intake must be highly limited especially when you consider that only half a can of soda would put most men and women past their daily recommended sugar limit.
  		</p>
    </div>

    <div class="how-it-works-section">
      <h2 class="how-it-works-subheader"><span class="highlight">Layer 5:</span> ONNA's Hierarchy of Food Needs:</h2>
      <p class="how-it-works-copy">
        Remember that silly food group pyramid we used to study in elementary school? Well as it turns out, it's not as useless as we all thought! ONNA's fifth layer is regarded as one of it's least informative functions in terms of evaluating how healthy a given food is to consume. As such, this layer affects the overall Health Score very little and accounts for only 5 bonus points on top of the maximum 100 Health Score points a food can receive. Currently the United States Department of Agriculture recognizes 25 distinct food groups. While most of these food groups don't really indicate how healthy any of the foods that fall under it are, there are a few groups that we can confidently identify as mostly unhealthy. Those groups, as recognized by the United States Department of Agriculture, are the "Fast Foods" group and "Sweets" group.
  		</p>
    </div>

  </div>
</section>

<include-footer></include-footer>
