<section class="terms-of-use-content">
	<div class="terms-of-use-copy-container">
		<h1 class="terms-of-use-header">Terms of Use</h1>
		<p class="terms-of-use-copy">
			Blackhouse LLC, by providing this website, domain and all associated properties, assets, trademarks, and services, collectively referenced from here on as "Blackhouse LLC", is not making any assurances, guaranties, or warranties as to the safeness or riskiness of the information presented on this website or any actions, consequences, results, claims or inferences derived from content presented on this website.
		</p>
		<br />
		<p class="terms-of-use-copy">
			You acknowledge that by visiting and/or using and/or referring this website you are aware that Blackhouse LLC knows nothing about healthy dietary practices and overall food consumption. You agree that Blackhouse LLC is not recommending the use of this webite and it's content as a means to follow a nutritional diet. Any information or conclusions you gather from our site does not consider prior existing medical conditions such as diabetes, heart-disease or any and all medical conditions and will not be regarded as such. Our search results and advice is completely biased and in no way reflects medical research or dietary expertise. You use this site at your own risk and in using it, agree to not hold us liable for any consquences from decisions made on your behalf as a results of using this website and/or service.
		</p>
		<br />
		<p class="terms-of-use-copy">
			This website is provided for informational purposes only and is not comparable to other information or services provided by medical, governmental or scientific authorities such as the United States Food &amp; Drug Administration. The content on this website is not tailored to each individual User and therefore may fail to account for your individual preferences, risk-tolerances, allergies, or health conditions. This website does not provide medical and/or dietary advice and should not be used as such. This website does not predict or assure healthy eating choices or practices. Each User should do his or her due diligence prior to using this website and may also wish to consult a nutritional expert or doctor.
		</p>
  </div>
</section>


<include-footer></include-footer>
