.home-container {
  overflow-x: hidden;
  width: 100%;
}

.jumbotron {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  width: 100%;
}

.header {
  img {
    display: block;
    width: 35%;
    margin: 50px auto;
  }
}

.sub-header {
  color: #BDBDBD;
  font-size: 20px;
  margin-top: -10px;
  font-weight: 100;
  font-family: Raleway;
}

.header-container {
  position: relative;
  min-height: 80px;
  margin-bottom: 30px;

    li {
      position: relative;
      display: block;
    }
}

.malarkey-text {
	color: lightgrey;
}


#disclaim-btn-container {
  width: 100%;
  text-align: center;
}

.btn {
	width: 8%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: grey;
  border: 1px solid #BDBDBD;
  padding: 10px 10px;
  font-size: 15px;
  line-height: 1.33;
  font-family: Proxima Nova;
}

.btn:hover {
  background: #BDBDBD;
  color: white;
}

.col {
  float: left;
  width: 33.33%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  .thumbnail {
    height: 200px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 20px;

    .caption {
      padding: 9px;
    }

    img.pull-right {
      width: 50px;
    }
  }
}
