.home-container {
  overflow-x: hidden;
  width: 100%;
}

.jumbotron {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  width: 100%;
}

.header {
  display: inline-block;
  font-family: Lato;
	font-size: 70px;
  color: #f71a0e;
}

.sub-header {
  color: #BDBDBD;
  font-size: 20px;
  margin-top: -25px;
  font-family: arial;
  font-family: Raleway;
}

.header-container {
  position: relative;
  min-height: 80px;
  margin-bottom: 30px;

    li {
      position: relative;
      display: block;
    }
}

.malarkey-text {
	color: lightgrey;
}

.searchbar-container {
	text-align: center;
}

.home-searchbar {
	width: 55%;
	height: 40px;
	padding: 0 10px 0 10px;
  margin-left: 25px;
}

.home-searchbar:focus {
	outline: 1px solid lightgrey;
}

.global-searchbar-container {
  display: block;
  top: 0px;
  left: 85px;
  position: absolute;
  width: 60%;
  border: none;

  .home-searchbar{
    margin: 10px 0;
    height: 50px;
    border:none;
    border-left: 1px solid grey;
  }
}

.global-searchbar-container input:focus {
  outline: 1px solid lightgrey;
  background: lightgrey;
  border:none;
}

#disclaim-btn-container {
  width: 100%;
  text-align: center;
}

.btn {
	width: 8%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: grey;
  border: 1px solid #BDBDBD;
  padding: 10px 10px;
  font-size: 15px;
  line-height: 1.33;
  font-family: Proxima Nova;
}

.btn:hover {
  background: #BDBDBD;
  color: white;
}

.col {
  float: left;
  width: 33.33%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  .thumbnail {
    height: 200px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 20px;

    .caption {
      padding: 9px;
    }

    img.pull-right {
      width: 50px;
    }
  }
}

.search-results-container {
  width: 100%;
}

.search-results-container{
  width: 100%;
  text-align: left;
  padding: 0;
}

.search-results-list{
  display:inline-block;
  width: 50%;
  list-style-type: none;
  padding: 0 40px;

  li{
    border-left: 2px solid #f5f5f5;
    padding: 10px;
    text-align: left;
    margin: 45px 0;
    -webkit-box-shadow: -16px 7px 21px -8px rgba(0,0,0,0.05);
    -moz-box-shadow: -16px 7px 21px -8px rgba(0,0,0,0.05);
    box-shadow: -16px 7px 21px -8px rgba(0,0,0,0.05);


    &:hover{
      background-color: #f5f5f5;
      border-radius: 4px;
    }
  }
}

.result-name, .result-id, .result-answer {
  font-family: Futura;
  font-size: 30px;
  color: #f6d239;
  margin: 0 0 0 20px;
}

.result-id {
  color: #b4afaf;
  font-size: 15px;
  margin: 5px 0 0 25px;
}

.result-answer{
  color: grey;
  font-size:15px;
  margin: 5px 0 0 0;
}
