.home-container {
  overflow-x: hidden;
  width: 100%;
}

.jumbotron {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  width: 100%;
}

.header {
  img {
    display: block;
    width: 45%;
    margin: 50px auto 20px auto;
  }
}

.sub-header {
  color: #BDBDBD;
  font-size: 20px;
  margin-top: -10px;
  font-weight: 100;
  font-family: Raleway;
}

.header-container {
  position: relative;
  min-height: 80px;
  margin-bottom: 30px;

    li {
      position: relative;
      display: block;
    }
}

.malarkey-text {
	color: lightgrey;
}


.home-buttons {
  width: 100%;
  text-align: center;

  div {
    display: inline-block;
  }
}

.col {
  float: left;
  width: 33.33%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  .thumbnail {
    height: 200px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 20px;

    .caption {
      padding: 9px;
    }

    img.pull-right {
      width: 50px;
    }
  }
}
