<section class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <div class="jumbotron">
    <div class="header-container">
      <ul class="header-list">
        <li><h1 class="header">Is</h1></li>
        <li><p><acme-malarkey extra-values="['spinach', 'pasta', 'soup', 'milk', 'broccoli']"></acme-malarkey></p></li>
        <li><h1 class="header">good for me?</h1></li>
      <ul> 
    </div>
    <div class="searchbar-container">
      <input class="searchbar" type="text" placeholder="Search...">
    </div>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <a class="btn btn-lg btn-success" ng-click="main.showToastr()">Food Sense</a>
    </p>
  </div>
<!--   <div class="col" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
    <div class="thumbnail">
      <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
      <div class="caption">
        <h3>{{ awesomeThing.title }}</h3>
        <p>{{ awesomeThing.description }}</p>
        <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
      </div>
    </div>
  </div> -->
</section>
