<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron">
    <h1 class="home-header">Is This Good For Me?...</h1>
    <div class="searchbar-container">
      <input class="searchbar" type="text" placeholder="Search...">
    </div>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    </p>
    <p>
      If we don't have it, we'll add it. You can look up<acme-malarkey extra-values="['Cream Cheese', 'Pastas', 'Soup', 'Milk']"></acme-malarkey>
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <a class="btn btn-lg btn-success" ng-click="main.showToastr()">Common Sense</a>
    </p>
  </div>

  <div class="col" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
    <div class="thumbnail">
      <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
      <div class="caption">
        <h3>{{ awesomeThing.title }}</h3>
        <p>{{ awesomeThing.description }}</p>
        <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
      </div>
    </div>
  </div>

</div>
