.contact-us-title {
	width: 90%;
	margin: 20px auto;
	text-align: center;
	margin: 100px 0 0 0;

	h1 {
		font-family: Raleway;
		font-size: 40px;
		color: grey;
	}
}

.contact-us-form {
	width: 90%;
	padding: 1rem;
	margin: auto;
	text-align: center;

	input, textarea{
		outline: none;
		border: 1px solid lightgrey;
		width: 90%;
		height: 40px;
		padding: 0.5rem;
		margin: 20px 0.5rem;
	}

	textarea {
		height: 150px;
		margin: 20px 0 50px 0;
	}

	input:nth-child(5) {
		height: 150px;
	}
	input:nth-child(21) {
	 	padding: 50px;
		height: 50px;
		width: 70%;
		display: block;
	}
	input:focus {
		outline:none;
		border-color: #36CE08;
	}

	textarea:focus {
		outline:none;
		border-color: #36CE08;
	}
}

#submit-contact-form-btn {
	padding: 40px;
	height: 50px;
	width: 70%;
	display: block;
	margin: 50px auto;
	background: white;
	border: 1px solid #FF790D;
	border-radius: 5px;
	color: #FF790D;
	line-height: 1px;
	font-size: 30px;

	&:hover {
		cursor: pointer;
		background: #FF790D;
		color: white;
	}
}
