<section class="footer-content">

  <div class="footer-nav-container">
    <ul class="footer-nav-list">
      <li><a ng-href="#/">home</a></li>
      <li><a ng-href="#/about">about</a></li>
      <li><a ng-href="#/contact">contact us</a></li>
    </ul>
  </div>

  <div id="scrolled-to" class="disclaimer-container">
    <p class="disclaimer-copy">
      DISCLAIMER: We admit we know nothing about healthy dietary practices and intake. We also do not recommend you
      you use our service as a means to follow a strict diet without first consulting with your doctor.
      Any advice you find on our site does not consider prior existing medical conditions such as diabetes,
      heart-disease etc. Our results and advice is biased and in no way reflects any empirical or
      medical research/expertise. You use this site at your own risk and agree to not holding us liable for
      any consquences from decisions made on your behalf regarding our service.
    </p>
  </div>
</section>
