<nav class="navbar">

  <ul>
    <li><input id="navSearchBar" class="nav-searchbar not-visible" type="text" placeholder="Search..."></li>
    <li class="active navLogo"><a ng-href="#/"><img src="../../../assets/images/navLogo.png"/></a></li>
    <li><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>

  <ul class="acme-navbar-text">
  	<!-- line below commented out for styling purposes -->
    <!-- <li>Application was created {{ vm.relativeDate }}.</li> -->
  </ul>
</nav>
