<nav class="navbar">
  <!-- <a href="#" class="visible">Common Sense Diet</a> -->

  <ul>
  	<!-- consider making this an angular-service list -->
    <li><input id="navSearchBar" class="nav-searchbar not-visible" type="text" placeholder="Search..."></li>
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>

  <ul class="acme-navbar-text">
  	<!-- line below commented out for styling purposes -->
    <!-- <li>Application was created {{ vm.relativeDate }}.</li> -->
  </ul>
</nav>
