.navbar {
  position: relative;
  min-height: 80px;
  background-color: transparent;


  &>a {
    float: left;
    color: lightgrey;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 60px;
    height: 50px;
  }

  ul {
    float: right;
    padding: 0;
    margin: 0;

    li {
      float: left;
      display: block;

      a {
        color: lightgrey;
        position: relative;
        display: block;
        font-size: 12px;
        font-family: Arial;
        padding: 15px;
        line-height: 40px;
      }
      &.active a {
        background-color: none;
      }
    }
  }
}

.navLogo{
  position: absolute;
  left: 20px;
  top: 0;

  img{
    width: 50px;
    height: 45px;
  }
}

.acme-navbar-text{
  color: black;
}

.nav-searchbar {
  width: 500px;
  height: 40px;
  padding: 0 10px 0 10px;
  margin: 10px;
}

.nav-searchbar:focus {
  outline: 1px solid lightgrey;
}
