.navbar {
  position: relative;
  min-height: 80px;
  background: #FFF;

  &>a {
    float: left;
    color: lightgrey;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 60px;
    height: 50px;
  }

  ul {
    float: right;
    padding: 0;
    margin: 0;

    li {
      float: left;
      display: block;

      a {
        color: lightgrey;
        position: relative;
        display: block;
        font-size: 15px;
        font-family: Rubik;
        padding: 15px 15px 0 15px;
        line-height: 40px;
      }
      &.active a {
        background-color: none;
      }

      p {
        margin: 0;
        font-size: 8px;
        color: lightgrey;
      }
    }
  }
}

.nav-logo{
  position: absolute;
  left: 20px;
  top: 0;

  img{
    width: 40px;
    height: 35px;
  }
}

.acme-navbar-text{
  color: black;
}
